@{
    Layout = "_Layout";
}

<div class="container">
    <div class="jumbotron">
        <h1>Contact Details</h1>
    </div>
</div>
<div class="container" id="detailContainer">
    <h1>Here are the details for the person you selected</h1>
    <hr>
    <p><strong>Full Name</strong> : @Model.GetFullName()</p>
    <p><strong>Address</strong> &nbsp;&nbsp;&nbsp;&nbsp;: @Model.GetAddress().GetStreetAdd()</p>
    <p><strong>City/State</strong> &nbsp;: @Model.GetAddress().GetCity()&comma; @Model.GetAddress().GetState()</p>
    <p><strong>Zip Code</strong> &nbsp;&nbsp;: @Model.GetAddress().GetZip() </p>
    <p><strong>Phone #</strong> &nbsp;&nbsp;&nbsp;&nbsp;: @Model.GetNumber()</p>
    <br><hr>
    <a href="/contact/@Model.GetId()/delete"><button type="button" class="btn"> Delete Contact </button></a>
    <a href="/"><button type="button" class="btn"> Back </button></a>
</div>
